{% extends "webApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% for product in products %}

        <div class="col-md-6  col-lg-3">
            <div class="product-grid5">
                <div class="product-image5">
                    <img class="pic-1" src="{{product.image.url}}" alt="">
                </div>
                <div class="product-content">
                    <h3 class="title">{{product.name}}</a></h3>
                    <div class="price">${{product.price}}</div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

<section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
        Categories:
        {{categories.name}}
    </div>
</section>
{% endblock %}