{% extends "webApp/base.html" %}

{% load static %}

{% block content %}

{% for product in products %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.image.url}}" alt="Responsive image">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{product.name}}</span>
                    <span class="section-heading-upper">{{product.description}}</span>
                </h2>
                <div style="text-align: left; font-size: 0.8em;">
                    Brand: {{product.brand}}
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
<section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
        Categories:
        {% for product in products %}
        {% for category in product.product_categories.all %}
        {{category.name}}
        {% endfor %}
        {% endfor %}
    </div>
</section>
{% endblock %}