{% extends "webApp/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <div class="row p-1">
        {% for product in products %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-2 ">
            <div class="product-grid5">
                <div class="product-image5">
                    <img class="pic-1" src="{{product.image.url}}" alt="">
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <span>{{product.name}}</span>
                        <span class="text-right">${{product.price}}</span>
                    </h3>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
<section>
    <div class="categories">
        Categories:
        {% for category in categories %}
        <a href="{% url 'ProductCategory' category.id %}" class="linksCategory">{{category.name}}</a> &nbsp;
        {% endfor %}
    </div>
</section>
{% endblock %}