{% extends "webApp/base.html" %}

{% load static %}

{% block content %}

{% for product in products %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{product.image.url}}" alt="Responsive image">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{product.name}}</span>
                    <span class="section-heading-upper">{{product.description}}</span>
                    <span class="section-heading-upper">{{product.price}}</span>
                </h2>
                <div style="text-align: left; font-size: 0.8em;">
                    Brand: {{product.brand}}
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
<section>
    <div class="categories">
        Categories:
        {% for category in categories %}
        <a href="{% url 'ProductCategory' category.id %}" class="linksCategory">{{category.name}}</a> &nbsp;
        {% endfor %}
    </div>
</section>
{% endblock %}