{% extends "webApp/base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <table class="table bg-success">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for cart in cart_list %}
        <tr>
            <td>{{cart.product.name}}</td>
            <td>{{cart.product.price}}</td>
            <td>{{cart.product.amount}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<section>
    <div class="categories">
        Categories:
        {% for category in categories %}
        <a href="{% url 'ProductCategory' category.id %}" class="linksCategory">{{category.name}}</a> &nbsp;
        {% endfor %}
    </div>
</section>
<div class="container">
    <div class="container ">
        <div class="row p-1">
            {% for product in products %}

            <div class=" col-lg-3 p-2 ">
                <div class="product-grid5">
                    <div class="product-image5">
                        <img class="pic-1" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="title">
                            <span>{{product.name}}</span>
                            <span class="text-right">${{product.price}}</span>
                        </h3>
                        <div class="">
                            <a href="#">
                                <button type="button" class="btn btn-success">Add</button>
                            </a>
                            <a href="#">
                                <button type="button" class="btn btn-warning">Discount</button>
                            </a>
                            <a href="#">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
